version: '3.1'

services:
  postgres:
    image: postgres:18.1-alpine
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: login
      POSTGRES_PASSWORD: 9mREsvXDs9Gk89Ef

